body{
  background-color: orange;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(frame.jpg);
  /**background-repeat: no-repeat;  **/
  background-size: cover;
  background-position:center;
  height: 100vh;
  margin-top:50px;

}

.logo{
  position: absolute;
  margin-left: 200px;

}

.logobg{
  position: absolute;
  margin-left: 900px;
  margin-top: 10px;
}

.imglogo{

  width: 800px;

}
.photo{
  width: 400px;
}
.text{
  position: absolute;
  font-size: 40px;
  margin:29% auto 0 3%;
  color: white;
  transition: 0.6s ease;

}

.name:hover{

  color:black;
}

.button{
  position: absolute;
  font-size: 60px;

  margin:25% auto 0 13%;

}



.btn{
  border:1px solid black;
  padding: 10px 30px;
  color:white;
  text-decoration: none;
 transition: 0.6s ease;

}

.btn:hover{
   background-color: yellow;
   color:black;
}
